body {
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    background-color: #252422;
    height: 100vh;

    display: grid;
    grid-template-columns: 2fr 3fr 3fr;
    gap: 10px;
}

.section {
    box-sizing: content-box;
    background-color: #403D39;
    color: #FFFCF2;
    flex: 1;
    padding: 10px;
    border-radius: 10px;
}

#projectsList #addNew {
    display: flex;
    justify-content: space-between;
}

div.project.active {
    background-color: #CCC5B9;
    color: #252422;
}

div.todoItem.active {
    background-color: #CCC5B9;
    color: #252422;
}

div.todoItem.complete {
    text-decoration: line-through 2px;
}